body{
    font-family: Arial, Helvetica, sans-serif; /*Tipo de letra fuente general*/
    line-height: 1.6; /*altura entre las lineas*/
    background-color: #f4f4f4; /*color de fondo*/
}

header{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    color: white;
    background-color: #002737 !important;
}

nav ul {
    display: flex; /*Mostrar elementos en fila*/
    justify-content: center; /*centrar horizontalmente el menu*/
    list-style: none; /*Quitar los puntos de las listas*/
    /* background-color: #34495e; */
    color: white;
}

nav ul li a {
    color: white;
    text-decoration: none; /*Quitar el subrayado*/
    padding: 8px 15px;
    display: block;
}

.carousel {
    /* background-color: #61739e; */
    width: 100vw; /* 100% del ancho de la ventana */
    margin-left: 0;
    margin-right: 0;

}

.carousel-item img {
    height: 250px;
    max-height: 250vh;
    width: 100%;
    object-fit: cover; 
}

.contenido {
    flex: 3;
}

main {
    display: flex;
    gap: 20px;
}

section {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    margin-bottom: 15px;
}